.login{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
}
.form-img{
  width: 50%;
}
.form-img img{
  width: 95%;
}
 .form-login{
  width: 50%;
}
.title-login{
  font-size: 25px;
  width: 57%;
  padding-bottom: 20px;
  color: #1C3879;
  text-align: center;
}
.input-login{
  width: 60%;

}
.css-nfagch-MuiInputBase-root-MuiOutlinedInput-root{
  background-color: #EFF0F2;
}
.form-password{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.login h3{
  color: #1C3879;
  margin-bottom: 4px;
}
.login span{
  color: #607EAA;
}
.form-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}
.form-bottom span{
  margin: 6px 0;
}
.link-signup{
  color: #1C3879;
}