form{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
h3{
  color: #1C3879;
  margin-top: 2rem;
}
.s-u-form{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

form .form-input label{
      width: 50%;
      display: flr;
      display: flex;
      padding-left: 12rem;
}