.formDivContainer{
  margin: auto;
  width: 60%;
  height: 73vh;
}
.thirdStepForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
}
.firstPart{
  width: 48%;
  display: flex;
  flex-direction: column;
}
.secondPart{
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  height: 100%;
}