.container{
  width: 250px;
  min-Height: 400px;
  position: relative;
}
.sideBar{
  position: absolute;
  right: 150px;
  top: 230px
}
.label{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  color: #1C3879;

}
.categories{
  font-family: 'Ubuntu';
  font-style: normal;
  color: #737373;

}
.catelabel{
  margin: 10px 0;
}
.selectPrice{
   height: 37px;
   margin: 10px 0 
}
#demo-multiple-chip-label{
  margin: 15px 0;
  font-family: 'Ubuntu';
}