.text-editor-container{
  width: 600px;
}
.text-editor{
  border-radius: 8px;
   height: 300px;
   box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.29);
-webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.29);
-moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.29);
}